@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* text-align: center; */
    --white: #ffffff;
    --blue: #1b3254ff;
    --cream: #e0d9cfff;
}

.app-main-container {
    /* padding: 0 15px; */
}

/* ------- Header CSS --------- */
.header-div {
    background-color: var(--blue);
    color: var(--white);
    height: 64px;
    text-align: left;
    padding: 1% 0 0 10px;
    font-size: 20px;
    font-weight: 500;
}

/* ------- Demo Card CSS --------- */

.demo-card-main-container {
    width: 100vw;
    padding: 0 15px;
}

.demo-card-main {
    background-color: var(--cream);
    border-radius: 10px 10px;
    margin: 2% 0;
    padding: 15px 15px;
}

.demo-card-title-text {
    font-size: 24px;
    font-weight: 500;
    margin: 1% 0;
}

.demo-card-h6 {
    margin-bottom: 1%;
}

.demo-card-img-div {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px 10px;
}

/* ------- Dynamic Cards Operations CSS --------- */

.type-dropdown {
    background-color: var(--blue) !important;
    color: var(--white) !important;
    height: 40px;
    border-radius: 6px;
}

.dynamic-cards-ops-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    flex-wrap: wrap;
}

.dynamic-cards-ops-dropdown-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-dropdown .ant-select-arrow {
    color: var(--white);
}

.type-dropdown .ant-select-clear {
    color: var(--white);
}

.type-dropdown .ant-select-selector {
    background-color: var(--blue) !important;
    color: var(--white) !important;
    border-color: var(--blue) !important;
}

.type-dropdown .ant-select-selector .ant-select-selection-search {
    color: var(--white);
}

.type-dropdown .ant-select-selector .ant-select-selection-item {
    color: var(--white);
}

.type-dropdown .ant-select-selector .ant-select-selection-placeholder {
    color: var(--white);
}

.location-dropdown {
    height: 40px;
}

.location-dropdown .ant-select-arrow {
    color: var(--white);
}

.location-dropdown .ant-select-clear {
    color: var(--white);
}

.location-dropdown .ant-select-selector {
    background-color: var(--blue) !important;
    color: var(--white) !important;
    border-color: var(--blue);
    margin-left: 15px;
}

.location-dropdown .ant-select-selector .ant-select-selection-search {
    color: var(--white);
}

.location-dropdown .ant-select-selector .ant-select-selection-item {
    color: var(--white);
}

.location-dropdown .ant-select-selector .ant-select-selection-placeholder {
    color: var(--white);
}


.search-input {
    background-color: var(--blue) !important;
    color: var(--white) !important;
    height: 40px;
}

.ant-input.search-input::-webkit-input-placeholder {
    color: var(--white);
}


.dynamic-cards-main-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0;
}

.dynamic-card-main {
    display: inline-block;
    background-color: var(--cream);
    /* margin: 1% 1%; */
    width: 32%;
    padding: 15px;
    height: 354px;
    border-radius: 12px;
    overflow: auto;
}

.dynamic-card-img-div {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    width: 200px;
    height: 150px;
}

.dynamic-card-img {
    display: inline-block;
    object-fit: cover;
    width: 200px;
    height: 150px;
    border-radius: 12px;
}

.dynamic-card-title-text {
    font-size: 20px;
    font-weight: 500;
}

/* ------- Pagination Buttn CSS --------- */

.dynamic-cards-pagination-btn-div {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-disable {
    cursor: not-allowed;
    opacity: 50%;
}

.btn-pagination {
    margin: 0 1%;
}

.btn-pagination.btn-previous {
    background-color: var(--blue);
    color: var(--white);
    height: 40px;
}

.btn-pagination.btn-next {
    background-color: var(--blue);
    color: var(--white);
    height: 40px;
}

/* ------- Footer CSS --------- */

.main-footer {
    text-align: center;
    margin: 3% 0 1% 0;
}

/* ------- Loading CSS --------- */

.cards-loading-div {
    height: 340px;
    text-align: center;
    justify-content: center;
    color: var(--blue);
    align-items: center;
    font-size: 24px;
}


/* ******************************* Responsive design ************************************* */
@media (max-width: 600px) {
    .dynamic-cards-ops-div {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 5px;

    }

    .dynamic-cards-ops-dropdown-div {
        display: flex;
        flex-direction: column;
        width: 95vw;
    }

    .type-dropdown {
        width: 100% !important;
        margin: 1% 0;
    }

    .location-dropdown {
        width: 100% !important;
        margin: 1% 0;
    }

    .location-dropdown .ant-select-selector {
        margin-left: 0;
    }

    .search-input {
        width: 95vw !important;
        margin: 1% 0;
    }

    .dynamic-cards-main-div {
        display: flex;
        flex-direction: column;
    }

    .dynamic-card-main {
        width: 95vw;
        margin: 2% 0;
    }

}